.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(42, 40, 40, 0.921);
    width:450px;
    height: 510px;
    border-radius: 15px;

    .center{
        margin-top: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;

        .screen{
            position: relative;
            background-color: azure;
            height: 120px;
            width: 430px;
            margin-bottom: 20px;
            border-radius: 5px;
            .input{
                margin-top: 15px;
                margin-left: 10px;
                height: 90px;
                padding: 5px;
                border: none;
                background-color: azure;
                .content{
                    font-size: 40px;
                }
            }
            .input:focus-visible{
                outline: none;
            }
            .resutl{
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 10px;
                font-size: 30px;
            }
        }
        .all-button{
            position: relative;
            border-radius: 3px;
            background-color: rgb(227, 227, 227);
            height: 320px;
            width: 420px;
                .all-number{
                width: 250px;
                margin-left: 10px;
                margin-top: 45px;
                position: absolute;
                display: grid;
                grid-template-columns: auto auto auto;
                column-gap: 20px;
                row-gap: 20px;

                    .number{
                        background-color: rgba(42, 40, 40, 0.921);
                        text-align: center;
                        padding: 10px;
                        border-radius: 5px;
                        color: beige;
                        font-size: 20px;
                        cursor: pointer;
                    }
                    .number.\31{
                        background:#752c2c;
                    }
                    .number.\31:hover{
                        background: #b04848 ;
                    }
                
                    .number:hover{
                        background-color: rgba(91, 87, 87, 0.921);
                    }
            }
            .functional-btn{
                margin-right: 10px;
                margin-top: 45px ;
                float: right;
                display: grid;
                grid-template-columns: auto auto;
                row-gap: 20px;
                column-gap: 5px;
                width: 145px;
                
                .function{
                    text-align: center;
                    border-radius: 4px;
                    padding: 10px;
                    font-size: 20px;
                    background-color: rgba(42, 40, 40, 0.921);
                    color: beige;
                    cursor: pointer;
                }
                .function:hover{
                    background-color: rgba(91, 87, 87, 0.921);
                    color: rgb(234, 225, 225) !important;
                }
                .bracket{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}